# Disable HTTP/2 and HTTP/3 by clearing ALPN advertisement
<IfModule mod_headers.c>
    Header always unset Alt-Svc
    Header always set Alt-Svc "clear"
</IfModule>

# Disable HTTP/2 by forcing downgrade to HTTP/1.1
<IfModule mod_http2.c>
    H2Disable on
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on

    # Allow phpBB forums to run outside /webroot
    RewriteRule ^forums(/.*)?$ - [L]

    RewriteRule ^$ webroot/ [L]
    RewriteRule (.*) webroot/$1 [L]
</IfModule>
