includes:
	- phpstan-baseline.neon
	- vendor/pieceofcake2/phpstan-cakephp2/extension.neon

parameters:
	level: 5
	paths:
		- src/
	scanDirectories:
		- tests/
	bootstrapFiles:
		- config/define.php
		- config/core.local.php
		- tests/bootstrap.php
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- '#Call to an undefined method .*\:\:findBy.+\(#'
