parameters:
	ignoreErrors:
		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 2 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/TestCase/Achievement/AchievementTestCase.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$userId$#'
			identifier: parameter.notFound
			count: 2
			path: tests/TestCase/Achievement/AchievementTestCase.php

		-
			message: '#^Comparison operation "\>" between \-1\|0 and 0 is always false\.$#'
			identifier: greater.alwaysFalse
			count: 1
			path: tests/TestCase/Achievement/Unlock/RatingAchievementTest.php

		-
			message: '#^Call to an undefined method Controller\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/TestCase/Controller/Component/LoginComponentTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/TestCase/Controller/Component/LoginComponentTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 2 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 6
			path: tests/TestCase/Controller/Component/LoginComponentTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertEmpty\(\) with ''1'' will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 1
			path: tests/TestCase/Controller/Component/PlayResultProcessorComponentTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/TestCase/Controller/Component/PlayResultProcessorComponentTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/TestCase/Controller/Component/TimeModeTest.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: tests/TestCase/Controller/Component/TimeModeTest.php

		-
			message: '#^Offset ''TimeModeSession'' does not exist on 0\|array\{\}\.$#'
			identifier: offsetAccess.notFound
			count: 4
			path: tests/TestCase/Controller/Component/TimeModeTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 10
			path: tests/TestCase/Controller/CronControllerTest.php

		-
			message: '#^Call to function is_null\(\) with 0 will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: tests/TestCase/Controller/EditTsumegoTest.php

		-
			message: '#^Call to function is_null\(\) with false will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: tests/TestCase/Controller/EditTsumegoTest.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 3
			path: tests/TestCase/Controller/EditTsumegoTest.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: tests/TestCase/Controller/EditTsumegoTest.php

		-
			message: '#^Offset ''field2'' does not exist on array\{field\: ''delete'', value\: ''bla''\|''delete'', result\: true, public\: 0\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: tests/TestCase/Controller/EditTsumegoTest.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: tests/TestCase/Controller/EditTsumegoTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 2 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 2
			path: tests/TestCase/Controller/SandboxSgfUploadTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 2 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 8
			path: tests/TestCase/Controller/SetsControllerTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 2 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 3
			path: tests/TestCase/Controller/SgfControllerUploadTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertFalse\(\) with false and ''lastVisit should be…'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Controller/SitesControllerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/TestCase/Controller/SitesControllerTest.php

		-
			message: '#^Offset ''lastVisit'' on array\<mixed, mixed\> in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: tests/TestCase/Controller/SitesControllerTest.php

		-
			message: '#^Right side of \|\| is always true\.$#'
			identifier: booleanOr.rightAlwaysTrue
			count: 2
			path: tests/TestCase/Controller/SitesControllerTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 8
			path: tests/TestCase/Controller/TimeModeControllerTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 2 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/TestCase/Controller/TimeModeControllerTest.php

		-
			message: '#^Offset ''Location'' does not exist on string\.$#'
			identifier: offsetAccess.notFound
			count: 4
			path: tests/TestCase/Controller/TimeModeControllerTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 2 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 2
			path: tests/TestCase/Controller/TsumegoIssuesControllerTest.php

		-
			message: '#^Method ControllerTestCase\:\:testAction\(\) invoked with 2 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 5
			path: tests/TestCase/Controller/TsumegosControllerTest.php

		-
			message: '#^Loose comparison using \=\= between ''normal''\|''used\-up'' and ''user\-up'' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: tests/TestCase/Utility/HeroPowersTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Utility/JwtAuthTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Utility/JwtAuthTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Utility/SgfParserTest.php

		-
			message: '#^Comparison operation "\>" between list\{0\?\: string, 1\?\: numeric\-string, 2\?\: non\-falsy\-string&numeric\-string\} and 1 results in an error\.$#'
			identifier: greater.invalid
			count: 1
			path: tests/TestCase/Utility/TsumegoXPAndRatingTest.php

		-
			message: '#^Parameter \#2 \$options of function curl_setopt_array expects array\{10002\: non\-empty\-string, 19913\: bool, 42\: bool, 44\: bool, 10023\: array\<int, string\>, 64\: bool, 81\: 0\|2, 52\: bool\}, array\{10002\: string, 19913\: true, 42\: true, 44\: true, 10023\: array\{non\-falsy\-string\}, 64\: false, 81\: false, 52\: true\} given\.$#'
			identifier: argument.type
			count: 1
			path: tests/TestCase/WebP/WebPServingTest.php
