includes:
	- phpstan-baseline.neon
	- vendor/pieceofcake2/phpstan-cakephp2/extension.neon

parameters:
	level: 5
	paths:
		- src/
	bootstrapFiles:
		- config/define.php
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- '#Call to an undefined method .*\:\:findBy.+\(#'
		- '#Call to an undefined method FlashComponent.+\(#'
