:root
{
	--text-color: #f0f0f0;
	--text-softer-color: #aaa;
	--link-color:  #f0f0f0;
	--current-border-color: #eee;
	--dark-button-icon: url("/img/dark-icon1.png");
	--new1-gradient: linear-gradient(#3c3c3c, #2a2a2a);
    --title4-gradient: linear-gradient(#737373, #4a4a4a);
	--body-background-gradient: linear-gradient(#2a2a2a, #111);
	--status-solved-color: #0a4;
	--status-failed-color: #dd3a4b;
	--status-w-color: #00aeab;
	--status-v-color: #0088e3;
	--status-n-color: #444;
	--status-g-color: #b0bd00;
	--paginator-button-text-color: #ccc;
	--active-paginator-button-background-color: #ccc;
	--active-paginator-button-text-color: #000;
	--paginator-info-text-color: #999;
	--admin-text-color: #7EE0FF;
}
