:root
{
	--text-color: #f0f0f0;
	--current-border-color: #eee;
	--dark-button-icon: url("/img/dark-icon1.png");
	--new1-gradient: linear-gradient(#3c3c3c, #2a2a2a);
    --title4-gradient: linear-gradient(#737373, #4a4a4a);
}
