:root
{
    --text-color: black;
	--text-softer-color: #666666;
	--link-color: #0000EE;
	--current-border-color: #111;
	--dark-button-icon: url("/img/light-icon1x.png");
	--new1-gradient: linear-gradient(#fff, #f2f2f2);
	--title4-gradient: linear-gradient(#e1e1e1, #bdbdbd);
	--body-background-gradient:  linear-gradient(#282828, #424141);
	--status-solved-color: #3ecf78;
	--status-failed-color: #c63f4d;
	--status-w-color: #34cfcc;
	--status-v-color: #2d98e0;
	--status-n-color: #7f8287;
	--status-g-color: #d7e062;
	--paginator-button-text-color: #333;
	--active-paginator-button-background-color: #333;
	--active-paginator-button-text-color: #fff;
	--paginator-info-text-color: #666;
	--admin-text-color: #1010EE;
}
