:root
{
    --text-color: black;
	--current-border-color: #111;
	--dark-button-icon: url("/img/light-icon1x.png");
	--new1-gradient: linear-gradient(#fff, #f2f2f2);
	--title4-gradient: linear-gradient(#e1e1e1, #bdbdbd);
}
