:root
{
    --text-color: black;
	--text-softer-color: grey;
	--current-border-color: #111;
	--dark-button-icon: url("/img/light-icon1x.png");
	--new1-gradient: linear-gradient(#fff, #f2f2f2);
	--title4-gradient: linear-gradient(#e1e1e1, #bdbdbd);
	--body-background-gradient:  linear-gradient(#282828, #424141);
}
