# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#	RequestHeader unset Proxy
#</IfModule>
# Disable HTTP/2 and HTTP/3 by clearing ALPN advertisement
<IfModule mod_headers.c>
    Header always unset Alt-Svc
    Header always set Alt-Svc "clear"
</IfModule>

# Disable HTTP/2 by forcing downgrade to HTTP/1.1
<IfModule mod_http2.c>
    H2Disable on
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>
